# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Publish VS Code Extension
        # You may pin to the exact commit or the version.
        # uses: HaaLeo/publish-vscode-extension@837bbbadcc731bdc0e9d09dce7143d3f7f5d4f43
        uses: HaaLeo/publish-vscode-extension@v0
        with:
          # Personal access token
          pat: ${{ secrets.openvsxPAT }}
          # Path to the vsix file to be published. Cannot be used together with packagePath.
          #extensionFile: # optional
          # Use the registry API at this base URL
          #registryUrl: # optional, default is https://open-vsx.org
          # Path to the extension to be packaged and published. Cannot be used together with extensionFile.
          #packagePath: # optional, default is ./
          # Prepend all relative links in README.md with this URL.
          #baseContentUrl: # optional
          # Prepend all relative image links in README.md with this URL.
          #baseImagesUrl: # optional
          # Use yarn instead of npm while packing extension files.
          #yarn: # optional
          # Set this option to "true" to package your extension but do not publish it.
          #dryRun: # optional
